/build/
/ol-synth-teensy-board/ol-synth-backups/
/ol-synth-teensy-board/ol-synth-midi-board-backups/
/ol-synth-teensy-board/_autosave-ol-synth-midi-board.kicad_pcb
/ol-synth-teensy-board/fp-info-cache
/~.*